/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	margin: 0 auto;
	width: 70%;
	margin-top: 50px;
}

header {
	display: inline-block;
	background-color: coral;
	opacity: 70%;
	padding: 10px;
	position: fixed;
}

header nav a{
	display: inline-block;
	margin: 0 30px;
	color: black;
}

header .logo {
	margin-left: 807px;
	margin-top: -50px;
	display: inline-block;
}

header nav a{
	margin: 0 30px;
	text-decoration: none;
}

header nav a:hover{
	border: 1px solid white;
	padding: 8px;
	background-color: black;
	border-radius: 30px;
	color: white;
}

h1 {
	text-transform: uppercase;
	font-size: 80px;
	text-align: center;
	margin-left: 30%;
	margin-bottom: 5px;
}

button {
	padding: 5px 40px;
	margin-bottom: 65px;
	margin-top: 20px;
	font-size: 15px;
	margin-left: 42%;
	background-color: white;
	border: 1px solid black;
	border-radius: 25px;
}

button:hover {
	background-color: coral;
	color: white;
}
.m1 {
	display: inline-block;
}

.m1 img {
	margin-left: 60%;
	margin-top: 110px;
}

hr {
	width: 95%;
	margin: 0;
	background-color: black;
	border: 1px solid black;
}
.maincontent {
	display: inline-block;
	margin-top: 20px;
}

.p11 {
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 15px;
	margin-right: 4px;
	width: 47%;
}


.maincontent2 {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
}

.maincontent2 img{
	width: 95%;
}

.p222{
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 31%;
	margin-left: 3px;
}

.contact h3 {
	margin-top: 50px;
}
address {
	line-height: 1.5;
}
.contact p{
	line-height: 2;
}

footer {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 40px;
}